body{
  background-image: url(../images/cover-1.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: black;
}
button {
  background-color: chocolate;
  color: white;
  padding: 5px;
  font-size: 16px;
  border-radius: 30px;
}
input{
    float:right;
    margin-right:20%;
}
div,form,input{
  margin:10px;
}
form{
  display: flex;
  flex-direction: row;
}
.gifs-contianer{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 400px;
}
.Image {
  width: 350px;
  height: 200px;
}